
a {
    text-decoration: none;
    color: rgb(0,0,0);
}

%heading {
    font-family: 'Prata', serif;
}

%main_text {
    font-family: 'Quicksand', sans-serif;
}

.w100 {
    width: 100%;
}

.total {
    background-image: url(../images/portrait.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100vw;
    text-align: center;
    margin-top: 30px;
    list-style-type: none;
    padding-inline-start: 0px;
}
  
.overlay a {
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    color: #f3f3f3;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: pink;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.header {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;

    &__icon--text {
        margin-right: 20px;
        @extend %main_text;
        color: rgb(0,0,0);

        &:hover {
            color: pink;
            font-weight: bold;
        }
    }
}

.my_name {
    position: absolute;
    right: 25px;
    top: 57px;

    & h2 {
        @extend %main_text;
        font-size: 20px;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}

.content {
    height: 90vh;
    width: calc(100% - 68px);
    background-color: rgb(255, 255, 255, 0.8);
    padding-top: 40vh;
    overflow-y: scroll;
    box-sizing: border-box;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.title {
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    &__container {
        width: 100%;
        text-align: center;
        margin-bottom: 30vh;

        & h1 {
            @extend %heading;
            font-size: 40px;
            margin-bottom: 10px;
        }

        & h3 {
            @extend %main_text;
            font-size: 20px;

            &:not(:last-of-type) {
                margin-bottom: 7px;
            }

        }
    }
}

.bio {
    @extend .title;

    &__container {
        width: 100%;
        height: 80vh;
        margin-bottom: 15vh;
        padding-top: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        &--img {
            height: 100%;
            max-height: 600px;
            flex-basis: 400px;
            overflow: hidden;

            & img {
                height: 100%;
                object-fit: cover;
            }
        }

        &--txt {
            margin-left: 30px;
            width: 40%;
            flex-basis: 500px;

            & h2 {
                @extend %heading;
                font-size: 60px;
                margin-bottom: 30px;
                max-width: 228px;
                width: 100%;
            }

            & p {
                @extend %main_text;
                font-size: 15px;
                line-height: 1.5;
            }
        }
    }
}

.skills {
    @extend .title;

    &__container {
        width: 100%;
        margin-bottom: 23vh;
        padding-top: 15vh;
        
        &--heading {
            margin-bottom: 30px;

            & h2 {
                @extend %heading;
                font-size: 60px;
                margin-bottom: 30px;
            }
        }
    }
}

.skills_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_subject {
        @extend %main_text;
        text-align: right;
        margin-right: 20px;
        font-size: 15px;
        line-height: 1.5;
        min-width: 130px;
    }

    &_progress { /*need to remove and add each skill separately, this is just for test*/
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: rgb(0,0,0);
    }
}

.portfolio {
    @extend .title;

    &__container {
        width: 100%;
        margin-bottom: 15vh;
        padding-top: 15vh;

        &--heading {
            text-align: right;

            & h2 {
                @extend %heading;
                font-size: 60px;
                margin-bottom: 30px;
            }
        }

        &--item {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            &:not(:last-of-type) {
                margin-bottom: 15vh;
            }
        }
    }
}

.portfolio_item_img {
    min-width: 300px;
    width: 100%;

    & img {
        width: 100%;
    }
}

.portfolio_item_txt {
    margin-left: 30px;

    & h4 {
        @extend %heading;
        font-size: 20px;
        margin-bottom: 20px;
    }

    & p {
        @extend %main_text;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    & a {
        color: rgb(0,0,0);

        &:hover {
            font-weight: bold;
            color: pink;
        }
    }

    & span {
        @extend %main_text;
        font-size: 15px;
        line-height: 1.5;
        margin-left: 10px;
    }
}

.item_rev {
    flex-direction: row-reverse;
}

.contact {
    @extend .title;

    &__container {
        width: 100%;
        padding-top: 7vh;
        margin-bottom: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--heading {
            text-align: center;

            & h2 {
                @extend %heading;
                font-size: 60px;
                margin-bottom: 30px;
            }
        }

        &--form {
            width: 80vw;
            max-width: 500px;
            margin-bottom: 5vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            & form {
                width: 100%;
            }

            & label {
                width: 100%;
                @extend %main_text;
                font-size: 15px;
            }

            & input {
                width: 100%;
                margin-top: 5px;
                margin-bottom: 15px;
                border: none;
                background-color: transparent;
                border-bottom: 0.5px solid rgb(0, 0, 0, 0.5);
                @extend %main_text;
                font-size: 12px;

                &::placeholder {
                    @extend %main_text;
                    font-size: 12px;
                }
            }

            & textarea {
                width: 100%;
                height: 150px;
                margin-top: 5px;
                margin-bottom: 15px;
                border: 0.5px solid rgb(0, 0, 0, 0.5);
                background-color: transparent;
                padding: 10px;
                box-sizing: border-box;

                &::placeholder {
                    @extend %main_text;
                    font-size: 12px;
                }
            }

            & button {
                border: none;
                background-color: #f0f0f0;
                @extend %main_text;
                font-size: 15px;
                padding: 10px 15px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                &:hover {
                    background-color: pink;
                    box-shadow: none;
                }
            }
        }
    }
}

.button {
    display: flex;
    justify-content: center;
}

.some_links {
    width: 100px;
    text-align: center;

    & a {
        font-size: 20px;

        &:not(:last-of-type) {
            margin-right: 10px;
        }

        &:hover {
            color: pink;
        }
    }
}

.footer {
    width: 100%;
    text-align: center;
    @extend %main_text;
    font-size: 10px;
    color: grey;
    margin-bottom: 10px;

    & i {
        margin-right: 5px;
    }
}