
a {
    text-decoration: none;
}

%heading {
    font-family: 'Prata', serif;
}

%main_text {
    font-family: 'Quicksand', sans-serif;
}

.total {
    background-image: url(../images/portrait.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: auto;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100vw;
    text-align: center;
    margin-top: 30px;
    list-style-type: none;
    padding-inline-start: 0px;
}
  
.overlay a {
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    text-decoration: none;
    font-family: Source Sans Pro;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.header {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;

    &__icon--text {
        margin-right: 20px;
        @extend %main_text;
        color: rgb(0,0,0);
    }
}

.content {
    height: 90vh;
    margin-right: 68px;
    background-color: rgb(255, 255, 255, 0.8);
    padding-top: 40vh;
    overflow-y: scroll;
}

.title {
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40vh;

    &__container {
        width: 100%;
        text-align: center;

        & h1 {
            @extend %heading;
            font-size: 40px;
            margin-bottom: 10px;
        }

        & h3 {
            @extend %main_text;
            font-size: 20px;

            &:not(:last-of-type) {
                margin-bottom: 7px;
            }

        }
    }
}

/*.section {
    width: 100%;
    height: auto;

    &__container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &--titel {
            margin-left: auto;
            margin-right: auto;
            
        }

        &--bio {
            height: 100%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;


            &_img {
                max-height: 600px;
                height: 100%;
                width: auto;

                & img {
                    height: 100%;
                    width: auto;
                    overflow: hidden;
                }
            }

            &_txt {
                margin-left: 5%;
            }
        }

        &--skills {
            width: 90%;

            &_item {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                &_subject {
                    max-width: 200px;
                    width: 100%;
                }

                &_progress { /*need to remove and add each skill separately, this is just for test*//*
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: rgb(0,0,0);
                }
            }
        }

        &--portfolio {
            width: 90%;
            height: auto;

            &_item {
                width: 100%;
                height: 70vh;
                display: flex;
                justify-content: center;
                align-items: center;

                &_img {
                    max-width: 640px;
                    width: 100%;
                    max-height: 800px;
                    height: 70%;
                    min-height: 100px;
                    background-image: url(../images/placeholderproject.jpg); /*need to do this separately for each item later*//*
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        &--contact {
            width: 90%;

            &_form {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}*/
