

a {
    text-decoration: none;
}

.total {
    background-image: url(../images/portrait.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    /*background-attachment: fixed;
    position: fixed;*/
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100vw;
    text-align: center;
    margin-top: 30px;
    list-style-type: none;
    padding-inline-start: 0px;
}
  
.overlay a {
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    text-decoration: none;
    font-family: Source Sans Pro;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;

    &__icon--text {
        margin-right: 20px;
    }
}

.content {
    margin-right: 68px;
    background-color: rgb(255, 255, 255, 0.8);
    overflow-y: scroll;
}

.section {
    width: 100%;

    &__container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &--titel {
            margin-left: auto;
            margin-right: auto;
            
        }

        &--bio {
            height: 100%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;


            &_img {
                max-height: 600px;
                height: 100%;
                width: auto;

                & img {
                    height: 100%;
                    width: auto;
                    overflow: hidden;
                }
            }

            &_txt {
                margin-left: 5%;
            }
        }

        &--skills {
            width: 90%;

            &_item {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                &_subject {
                    max-width: 200px;
                    width: 100%;
                }

                &_progress { /*need to remove and add each skill separately, this is just for test*/
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: rgb(0,0,0);
                }
            }
        }

        &--portfolio {
            width: 90%;

            &_item {
                
            }
        }
    }
}
